@media only screen and (max-width: 1600px) {
    /*portfolio*/
    .portfolio .job {
        flex: 1 1 350px;
    }
    .sub_portfolio.emplo_style .portfolio .job {
        height: 400px;
    }
    /*portfolio and*/
}
@media only screen and (max-width: 1280px) {
    /*page full*/
    .about {
        width: 100%;
    }
    /*and page full*/
    /*common*/
    .page_pagin {
        right: 5%;
    }
    .container {
        padding: 20px 40px;
    }
    .first_nesting .container {
        padding: 20px 64px;
    }
    .letter_nav {
        display: none;
    }
    .nav_overlay {
        justify-content: space-around;
    }
    .portfolio_nav,
    .menu {
        margin-top: 0;
        width: auto;
    }
    .menu a:hover span,
    .menu a.activ_cat span {
        margin-left: 0;
    }
    /*full portfolio*/
    .company_name,
    .company_about{
        font-size: 30px;
    }
    .company_name span{
        font-size: 50px;
    }
    .body_full_portfolio{
        padding: 0;
    }
    /*full portfolio and*/
    /*common and*/
    /*body service*/
    .see_block .header_circle {
        width: 90%;
    }
    .body_service {
        width: 90%;
        margin-left: 5%;
    }
    .selling .body_service {
        margin-left: 5%;
    }
    .selling .body_service::before {
        left: auto;
        right: 50%;
    }
    .complex .border_top {
        margin-right: 8%;
    }
    .body_circle.promo .body_service::before {
        left: 0;
    }
    .body_circle.see_block .body_service::before {
        width: 6%;
    }
    .first_nesting {
        padding: 0 20px 60px 20px;
    }
    .complex .body_service::before {
        right: auto;
        left: 95%;
    }
    .body_circle.see_block.promo .body_service::after {
        width: 85%;
    }
    .promo .line_cont.abso_content {
        left: 85%;
    }
    .promo .more_abs {
        left: calc(85% - 70px);
    }
    /*body service and*/
    /*portfolio*/
    .portfolio .job {
        margin: auto;
    }
    .sub_portfolio.emplo_style .portfolio .job {
        height: 350px;
        flex: 1 1 420px;
    }
    /*portfolio and*/
    /*footer*/
    .main_footer {
        flex-wrap: wrap;
    }
    .contact_feedback {
        width: 100%;
        justify-content: space-between;
        flex-direction: row-reverse;
        order: 0;
    }
    .sicial_icon {
        flex-grow: 3;
        justify-content: flex-end;
    }
    .contact_feedback .line_row {
        display: none;
    }
    .footer_email, .footer_phone {
        width: auto;
        max-width: none;
        margin: 0 0 0 50px;
    }
    .footer_email a, .footer_phone a {
        margin: 0;
    }
    .main_footer .logo,
    .main_footer .sicial_icon,
    .main_footer .copirate {
        order: 1;
    }
    .main_footer .logo {
        width: 92px;
    }
    .main_footer .logo:before {
        font-size: 32px;
    }
    .technology_top .title_page {
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .tablet {
        max-width: 980px;
        max-height: 650px;
    }
    .see_block .mobile {
        right: 72%;
    }
    /*footer and*/
}
@media only screen and (max-width: 1180px) {
    /*header*/
    .btn_nav > span {
        display: none
    }
    .header_left {
        width: 66.66%;
    }
    .header_right {
        width: 33.33%;
    }
    /*and header*/
    /*emplo*/
    .employees {
        padding: 40px;
        margin: auto;
    }
    /*emplo  and*/
    /*contact */
    .see_block .top_logo_text {
        margin-left: 40px;
    }
    .black .top_logo .logo:before {
        font-size: 100px;
        line-height: 100px;
    }
    .black .top_logo .logo {
        max-width: 280px;
        height: 100px;
    }
    .top_logo_text {
        font-size: 35px;
        margin-bottom: 0;
        margin-top: 5px;
        line-height: 46px;
    }
    /*contact and*/
    /*full portfolio*/
    .company_logo{
        max-width:100px;
    }
    .bricks_popup{
        padding: 30px;
        width: 80%;
        top: 10%;
        left: 10%;
    }
    .bricks.active .bricks_border::before,
    .bricks.active .bricks_border::after{
        display: none;
    }
    .bricks.active .bricks_title{
        position: relative;
        left: auto;
        text-align: center;
        align-self: center;
        top:auto;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .bricks.active .bricks_border{
        padding: 30px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
    }
    .bricks_text{
        margin: 0;
        font-size: 22px;
    }
    /*full portfolio and*/
}
@media only screen and (max-width: 1024px) {
    .web, .go, .pro {
        background: transparent;
    }
    .full_content {
        background: url(../img/fon.svg) no-repeat;
        background-position: center;
        background-size: cover;
    }
    /*technology*/
    .see_block .tablet {
        left: 0;
        position: relative;
    }
    .see_block .mobile {
        right: auto;
        left: 5%;
    }
    .device {
        height: 700px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;
    }
    .technology_top {
        flex-direction: column;
        padding: 0 40px;
    }
    .technology_top .title_page {
        margin: 20px auto 20px;
    }
    .technology_top > .btn_sol {
        margin: 20px auto 30px;
    }
    /*and technology*/
    .copyright,
    .social_nav {
        bottom: 20px;
    }
    /*full portfolio*/
    .bfp_about .bfp_wrap{
        flex-direction: column;
        justify-content: center;
    }
    .company_logo{
        order: 0;
        margin: 5px 0;
    }
    .company_about,
    .company_name{
        order: 1;
        margin: 5px 0;
    }
    .bricks_line{
        display: none;
    }
    /*full portfolio and*/
}
@media only screen and (max-width: 960px) {
    /*common*/
    .page_pagin,
    .right_fix_section {
        display: none;
    }
    .title_page {
        margin: 15px 30px;
        font-size: 30px;
        align-self: center;
        line-height: 38px;
    }
    .nav_overlay {
        padding: 20px;
    }
    .container {
        width: 100%;
    }
    .top_fb_style .body_feedback {
        padding: 0 10px;
    }
    .top_fb_style .idea_text,
    .top_fb_style [for="textFeed"] {
        display: none;
    }
    /*common and*/
    /*portfolio*/
    .bfp_heder{
        min-height:calc(100vh - 127px);
    }
    /*portfolio end*/
}
@media only screen and (max-width: 920px) {
    /*header*/
    .header {
        height: 60px;
        padding: 0 10px;
    }
    .btn_nav {
        right: 10px;
    }
    .header_left, .header_right {
        width: 50%;
    }
    .header_right {
        padding-right: 50px;
        justify-content: flex-end;
    }
    .header .contact {
        display: none;
    }
    /*and header*/
    /*page full*/
    .full_content, .aft_preload+.reload {
        margin: 60px 10px 10px;
        width:calc(100% - 20px);
        height:calc(100% - 70px);
    }
    .main_page_video {
        margin: 0 10px 10px;
    }
    .main_page_video, .full_content {
        width: calc(100% - 20px);
        height: calc(100% - 70px);
    }
    .wrap_bl_circle {
        width: 100%;
    }
    .arrow{
        border-color: #fff;
    }
}
@media only screen and (max-width: 768px) {
    /*header*/
    .header_rounds, .header_right {
        display: none;
    }
    /*and header*/
    /*section*/
    .see_block .header_circle {
        width: 80%;
    }
    /*and section*/
    /*portfolio*/
    .sub_portfolio.emplo_style .portfolio .job {
        max-width: 100%;
    }
    /*and portfolio*/
    /*technology*/
    .tablet {
        display: none;
    }
    .see_block .mobile {
        position: relative;
        left: auto;
        max-width: 320px;
        max-height: none;
        height: 600px;
        margin: auto;
    }
    .top_input > div {
        flex: 1 1 230px;
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
    .top_input {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    /*and technology*/
    /*nav*/
    .portfolio_nav {
        display: none;
    }
    .menu a {
        font-size: 45px;
        line-height: 55px;
    }
    .copyright {
        position: relative;
        left: 0;
        bottom: 0;
    }
    .menu {
        margin-top: 35%;
        align-self: center;
        align-items: center;
    }
    .nav_overlay {
        flex-direction: column;
        justify-content: space-between;
    }
    /*nav and*/
    /*contact*/
    .top_logo {
        flex-direction: column;
        align-items: center;
    }
    .employees .top_logo {
        flex-direction: row;
    }
    .top_logo_text {
        text-align: center;
        max-width: none;
        top: 0;
        margin: 12px 0 12px -60px;
    }
    .employees .top_logo .logo:before {
        font-size: 60px;
        line-height: 60px;
    }
    .employees .top_logo_text {
        font-size: 25px;
        line-height: 30px;
    }
    .employees .top_logo_text::before {
        bottom: -10px;
    }
    .employees .top_logo .logo {
        height: 65px;
        max-width: 170px;
        margin-right: 2.5%;
    }
    .employees.see_block .top_logo_text {
        max-width: 190px;
        margin-left: 2.5%;
    }
    .see_block .top_logo_text {
        margin: auto;
    }
    .black .see_block:not(.employees) .top_logo .logo {
        margin-bottom: 25px;
    }
    .local_firm {
        margin-top: 80px;
    }
    .employees .center_content {
        height: 380px;
    }
    .bottom_slide .emplo_name {
        font-size: 45px;
        margin-bottom: 20px;
    }
    .employees {
        padding: 25px;
    }
    .bottom_slide .emplo_position {
        font-size: 28px;
    }
    .first_nesting .container {
        padding: 20px 10px 5px;
    }
    /*contact and*/
    /*common*/
    .title_page {
        margin: 15px 0;
        max-width: 100%;
    }
    /*comment and*/
    .mobile .title_page{
        font-size: 28px;
    }
    .mobile .title_page .bef, .mobile .title_page .aft{
        font-size: 34px;
    }
    .mobile .title_page .aft::before{
        height: 19px;
        left: -8px;
        top: 13px;
    }
    /*full portfolio */
    .bricks_popup{
        padding: 0;
    }
    .bricks.active .bricks_border{
        padding: 20px;
    }
    .bp_close{
        top: 0;
        right: 0;
    }
    /*full portfolio and*/
}
@media only screen and (max-width: 680px) {
    .first_nesting {
        padding-bottom: 0;
    }
    .body_service {
        margin-left: 5%;
        margin-right: 5%;
    }
    .see_block .portfolio .job {
        border: solid 10px #ffeb00;
        border-bottom: none;
    }
    .see_block .portfolio .job:last-child {
        border-bottom: solid 10px #ffeb00;
    }
    .portfolio .job:nth-child(4n+1) .content_job,
    .portfolio .job:nth-child(4n+2) .content_job,
    .portfolio .job:nth-child(4n+3) .content_job,
    .portfolio .job:nth-child(4n+4) .content_job {
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        margin: auto;
        transform: scale(1);
        opacity: 1;
        border: solid 10px #3e383a;
        width: 100%;
        height: 100%;
    }
    .player_wrap .player{
        width: 100%;
        height: 100%;
    }
    .player_wrap .html5-video-player{
        background: transparent;
    }
    .video-js {
        display: none !important;
    }
    .player_wrap .close_player{
        top: 8%;
        right: 8%;
    }
    .player_wrap .video-js{
        display: block !important;
    }
    .main_page_video {
        background-color: #000;
    }
    /*service*/
    .contert_s_text{
        margin-left: 0;
    }
    /*service and*/
    .full_content{
        background: none;
    }
    .about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about::before,
    .mobileOpen::before,
    .mobileOpen::after,
    .go::before,
    .go::after{
        content:'';
        position: absolute;
        display:block;
        background-color: #fff;
    }
    .mobileOpen::before{
        height: 27%;
        width: 4px;
        top: 0;
        right: 30%;
    }
    .mobileOpen::after{
        height: 27%;
        width: 4px;
        bottom: 0;
        right: 30%;
    }
    .about::before{
        top: 50%;
        right: 0;
        width: 10%;
        height: 4px;
    }
    .go::before{
        left: 30%;
        top: 0;
        height: 10%;
        width: 4px;
    }
    .go::after{
        left: 30%;
        bottom: 0;
        height: 10%;
        width: 4px;
    }
    .text_about{
        margin:0;
        width: 100%;
    }
    .order .container.contact_order{
        margin-top: 40px;
    }
    .nav_overlay.chrome{
        height: calc(100vh - 60px);
    }
}
@media only screen and (max-width: 640px) {
    .container {
        padding: 20px 10px;
    }
    .layer1, .layer2 {
        display: none;
    }
    .fullpage.chrome .fp_section{
        height:calc(100vh - 60px);
    }
}
@media only screen and (max-width: 560px) {
    /*page full*/
    .text_about {
        max-width: 100%;
        font-size: 31px;
    }
    .text_about::before {
        font-size: 23px;
    }
    /*page full and*/
    /*page extended  */
    .left_t_circle {
        width: 40px;
        min-width: 40px;
    }
    .left_l_circle {
        width: 20px;
        min-width: 30px;
    }
    .list_link {
        margin: -20px 0 0 23px;
    }
    .list_link li:first-child {
        padding-top: 35px;
    }
    .list_link a {
        padding-left: 10px;
    }
    .layer1, .layer2 {
        display: none;
    }
    .form_wrap {
        margin: 30px auto 0;
    }
    .fb_form {
        padding: 20px 30px 40px;
    }
    /*and page extended*/
    /*technology*/
    .technology_body .feedback_container.active_feedback {
        height: 1050px;
    }
    /*and technology*/
    /*footer*/
    .main_footer,
    .contact_feedback {
        flex-direction: column;
    }
    .main_footer .copirate {
        order: 3;
        max-width: 100%;
        text-align: center;
        margin: 10px auto 20px;
    }
    .footer_email, .footer_phone {
        margin-bottom: 20px;
    }
    .sicial_icon > a {
        margin: 0 12px;
    }
    .local_firm {
        margin-top: 40px;
    }
    .local_firm i {
        margin-right: 10px;
        font-size: 35px;
    }
    /*footer and*/
    /*contact*/
    .local_firm a {
        margin: 10px 0;
        font-size: 25px;
    }
    .see_block .local_firm i {
        margin-right: 20px;
    }
    /*contact and*/
}
@media only screen and (max-width: 480px) {
    .about {
        padding: 20px 40px;
    }
    /*contact*/
    .local_firm a {
        margin: 10px 0;
        font-size: 20px;
    }
    .black .top_logo .logo:before {
        font-size: 90px;
    }
    .employees .top_logo .logo:before {
        font-size: 60px;
        line-height: 60px;
    }
    .employees {
        padding: 10px 10px 25px;
    }
    .employees .center_content {
        height: 350px;
    }
    .employees .top_logo {
        flex-direction: column;
    }
    .employees .top_logo .logo {
        margin: 10px 0 5px;
    }
    .employees.see_block .top_logo_text {
        margin-left: 0;
    }
    .top_logo_text {
        font-size: 36px;
    }
    .see_block .local_firm i {
        margin-right: 10px;
    }
    /*contact and*/
    .menu {
        margin-top: 25%;
    }
    .copyright time {
        margin-left: 10px;
    }
    .copyright {
        text-align: center;
    }
    .social_nav {
        right: auto;
        bottom: auto;
        top: 20px;
        left: 50px;
    }
    .active_nav.btn_nav {
        top: 25px;
    }
    .social_nav:hover > i[class*="icon"] {
        transform: rotate(0);
        color: #FFFF00;
    }
    .sicial_icon {
        top: 0;
        left: 0;
    }
    .social_nav:hover .sicial_icon {
        transform: scale(1);
        opacity: 1;
        top: 0;
        left: 100%;
    }
    /*first nesting*/
    .first_nesting {
        padding-left: 0;
        padding-right: 0;
    }
    /*first nesting and*/
    /*full portfolio */
    .active .control .bfp_wrap{
        height: 67px;
    }
    .active .arrow{
        top: 0;
    }
    .bricks.active .bricks_border{
        font-size: 18px;
        overflow: hidden;
    }
    .bricks.active .bricks_title{
        font-size: 16px;
    }
    .bricks_popup{
        width: 100%;
        left: 0;
    }
    .company_name, .company_about{
        font-size: 24px;
    }
    .bfp_about .bfp_wrap{
        min-height: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*and full portfolio*/
}
/*orientation*/
@media only screen and (min-height: 1080px) {
    .about {
        padding-left: 80px;
    }
    .header_right {
        width: 48%;
    }
}
@media only screen and (max-height: 770px) {
    .top_fb_style .top_input,
    .top_fb_style .budget_select,
    .top_fb_style .idea_text {
        margin-bottom: 20px;
    }
    .top_fb_style .main_feeback {
        margin-top: 20px;
    }
    .menu,
    .portfolio_nav{
        margin-top: 4%;
    }
    .letter_nav{
        margin-top: 11%;
    }
    .about{
     padding-bottom: 20px;
        padding-top: 20px;
    }
    .advantages_block > *{
        width: 60px;
    }
}
@media only screen and (max-height: 770px) and (max-width: 768px) {
    .menu{
        margin-top: 30%;
    }
}
@media only screen and (max-height: 740px) {
    .copyright {
        bottom: 10px;
    }
    .top_fb_style .idea_text,
    .top_fb_style [for="textFeed"],
    .top_fb_style .top_input > div:last-child {
        display: none;
    }
    .top_fb_style .top_input > div {
        max-width: 48%;
        width: 100%;
    }
    .top_fb_style .top_input,
    .top_fb_style .budget_select,
    .top_fb_style .idea_text {
        margin-bottom: 30px;
    }
    .top_fb_style .main_feeback {
        margin-top: 30px;
    }
}
@media only screen and (max-height: 500px) {
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 7%;
    }
    .menu a {
        margin: 5px 40px;
    }
    .menu a span::before {
        left: -40px;
    }
    .menu a span::after {
        right: -40px;
    }
}
/*(orientation: landscape)*/
@media only screen and (min-width: 1080px) {
    /*btn*/
body.black .page_solution .btn_sol:hover {
    -webkit-box-shadow: 0 5px 8px -9px rgba(255, 255, 255, 0);
    -moz-box-shadow: 0 5px 8px -9px rgba(255, 255, 255, 0);
    box-shadow: 0 5px 8px -9px rgba(255, 255, 255, 0);
}
.btn_sol:hover {
    -webkit-box-shadow: 0 10px 8px -9px rgba(58, 60, 68, .5);
    -moz-box-shadow: 0 10px 8px -9px rgba(58, 60, 68, .5);
    box-shadow: 0 10px 8px -9px rgba(58, 60, 68, .5);
}
/*menu nav*/
    .active_nav .nav_icon:hover .bg_nav::before {
        -ms-transform: scale(2);
        transform: scale(2);
        box-shadow: 0 0 25px 0 #fff;
        opacity: 0;
        -webkit-transition: all 0.6s;
        transition: all 0.6s;
    }
    .btn_nav:hover .menu-circle path {
        stroke-dashoffset: 0;
        stroke: #FFE900;
    }
    .nav_icon:hover i:nth-child(2) {
        left: 12px;
        width: 10px;
    }
    .nav_icon:hover i:first-child {
        top: 2px;
    }
    .nav_icon:hover i:nth-child(3) {
        bottom: 2px;
    }
}