.nav_overlay {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
    position: fixed;
    top: -200%;
    height: 0;
    background: #000000;
    z-index: 110;
    bottom: initial;
    -webkit-transition: height cubic-bezier(.18, 1, .21, 1) 1.5s;
    -moz-transition: height cubic-bezier(.18, 1, .21, 1) 1.5s;
    transition: height cubic-bezier(.18, 1, .21, 1) 1.5s;
    -webkit-transition-property: -webkit-transform, height, bottom;
    -moz-transition-property: -moz-transform, height, bottom;
    transition-property: transform, height, bottom;
    -webkit-transform: translateZ(0) translateY(0);
    -moz-transform: translateZ(0) translateY(0);
    -ms-transform: translateZ(0) translateY(0);
    -o-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    overflow: hidden;
}
.portfolio_nav {
    display: flex;
    flex-direction: column;
}
.portfolio_nav div {
    margin: 22px 0;
    position: relative;
    border: solid 1px #000;
    display: block;
    z-index: 2;
    cursor: pointer;
    width: 245px;
    height: 140px;
    overflow: hidden;
}
.portfolio_nav .hover_port {
    z-index: 3;
    position: absolute;
    padding: 23px;
    width: 100%;
    overflow: hidden;
    height: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    display: block;
    bottom: 0;
    opacity: 0;
    left: 0;
    transition: all .5s;
    background-color: rgba(255, 235, 0, 0);
}
.portfolio_nav .hover_port span {
    margin-top: -25px;
    opacity: 0;
    position: relative;
    transition-delay: 1s;
    transition: 2s;
}
.portfolio_nav .hover_port span::before {
    content: "";
    display: block;
    height: 2px;
    width: 25px;
    position: absolute;
    left: 100%;
    bottom: -10px;
    transition-delay: 2.5s;
    transition: left 1s;
    background-color: #000;
}
.portfolio_nav .hover_port:hover span::before {
    left: 0;
}
.portfolio_nav .hover_port:hover span {
    margin-top: 0;
    opacity: 1;
}
.portfolio_nav div:hover .hover_port {
    height: 100%;
    opacity: 1;
    background-color: rgba(255, 235, 0, .8);
}
.portfolio_nav .hover_port::before {
    content: ">";
    position: absolute;
    right: -100%;
    bottom: 25px;
    background-color: #000;
    text-align: center;
    color: rgba(255, 235, 0, 1);
    line-height: 24px;
    font-weight: 400;
    display: block;
    width: 30px;
    transition: right 1.5s;
    height: 30px;
    font-size: 30px;
}
.portfolio_nav .hover_port:hover::before {
    right: 25px;
}
.portfolio_nav video {
    width: 100%;
}
.portfolio_nav img {
    position: absolute;
    top: 0;
    transition: all 1s ease;
    left: 0;
}
.nav_overlay.active {
    max-width: 100%;
    top: 0;
    width: 100%;
    height: 100vh;
}
.menu a {
    display: block;
    margin-bottom: 6px;
    padding: 2px 0;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    line-height: 75px;
}
.menu a span {
    position: relative;
    transition: .3s;
}
.menu a span::before {
    content: "[";
    position: absolute;
    left: -100px;
    transition: .3s;
    top: -6px;
    opacity: 0;
    color: #fff;
}
.menu a span::after {
    content: "]";
    position: absolute;
    right: -100px;
    transition: .3s;
    top: -5px;
    color: #fff;
    opacity: 0;
}
.menu a:hover span {
    color: #FFFF00;
}
.menu a:hover span::before {
    left: -25px;
    transform: rotateX(360deg);
    opacity: 1;
    color: #FFFF00;
}
.menu a:hover span::after {
    right: -25px;
    transform: rotateX(360deg);
    opacity: 1;
    color: #FFFF00;
}
.letter_nav {
    width: 100%;
    height: 100%;
    max-width: 30vw;
    max-height: 30vw;
    margin-top: 10%;
    position: relative;
    border: solid 30px #292929;
}
.letter_wrap {
    background-color: #000;
    height: 76%;
    width: 60%;
    position: absolute;
    display: flex;
    top: 12%;
    right: -33%;
}
.letter_wrap span {
    color: #292929;
    margin: auto;
    font-family: "BenderBlack";
    font-weight: bold;
    font-size: 20vw;
}
.copyright {
    position: absolute;
    bottom: 55px;
    left: 32%;
    font-size: 14px;
}
.copyright span {
    font-size: 8px;
    vertical-align: super;
}
.copyright time {
    margin-left: 50px;
}
