.header {
    position: fixed;
    top: -100%;
    display: flex;
    width: 100%;
    height: 70px;
    z-index: 100;
    transition: top 1s;
    padding: 0 25px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}
body.black .header {
    background-color: #000;
}
body.black .nav_icon i {
    background-color: #ffea00;
}
.header_left {
    display: flex;
    align-items: center;
    width: 100%;
}
.header_rounds > span {
    display: block;
    width: 0;
    transition: width 1s 4s;
    height: 2px;
    background-color: #f1f1f1;
}
.header_left .hid_round > span {
    width: 40px;
}
.header_rounds {
    position: relative;
    margin: 0 30px;
}
.header_rounds .menu-circle circle:last-child {
    fill: transparent;
}
.header_rounds .menu-circle circle {
    stroke-dashoffset: 90;
    stroke-dasharray: 90;
    stroke-width: 4px;
}
.header_rounds .menu-circle circle:last-child {
    stroke-width: 3px;
}
.header_rounds .menu-circle:first-child {
    z-index: 1;
}
.header_rounds .menu-circle:first-child circle {
    transition: stroke-dashoffset 1s 3s;
}
.header_rounds .menu-circle:last-child circle {
    transition: stroke-dashoffset 2s 5s;
}
.header_left .hid_round .menu-circle circle {
    stroke-dashoffset: 0;
}
.header_left .hid_round .menu-circle circle:last-child {
    fill: transparent;
}
.header_left .menu-circle circle:first-child {
    stroke: #ffea00;
    fill: #fff;
}
.header_left .menu-circle circle:last-child {
    stroke: #464646;
    fill: transparent;
}
body.black .menu-circle circle {
    fill: transparent;
}
body.black .menu-circle circle:first-child {
    fill: #000;
}
body.black .menu-circle circle:last-child {
    fill: #fff;
    stroke: #fff !important;
}
.header_rounds .menu-circle svg {
    background-color: #fff;
}
.header_rounds .menu-circle {
    position: absolute;
    top: -7px;
}
.header_rounds .menu-circle:first-child {
    left: -14px;
}
.header_rounds .menu-circle:last-child {
    right: -20px;
}
.contact {
    color: #4f4f4f;
    margin-left: -10px;
    position: relative;
    transition: opacity 1s, margin .8s;
    transition-delay: 5.5s;
    opacity: 0;
}
body.black .contact {
    color: #fff;
}
.contact.load_cont {
    opacity: 1;
    letter-spacing: 0;
    margin-left: 15px;
}
.contact span.copy {
    position: absolute;
    bottom: -15px;
    opacity: 0;
    left: 32%;
    padding: 6px 10px;
    font: 400 14px/17px 'Roboto', sans-serif;
    color: #fff;
    transition: .3s;
    background-color: rgba(42, 42, 42, .9);
}
.contact span.copy::before {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid rgba(42, 42, 42, .9);
}
.contact:hover span.copy {
    bottom: -35px;
    opacity: 1;
}
.header_right {
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.btn_link {
    display: inline-block;
    color: #4f4f4f;
    border: solid 2px #ffea00;
    padding: 5px 25px;
    background-color: #fff;
    transition: border .5s;
}
.btn_link:hover {
    border-color: #4f4f4f;
}
.btn_nav {
    position: fixed;
    top: 20px;
    z-index: 150;
    cursor: pointer;
    display: flex;
    align-items: center;
    right: 25px;
    transition: top .4s, right .4s;
    color: #4d4d4d;
}
body.black .btn_nav {
    color: #ffea00;
}
.nav_icon {
    width: 33px;
    position: relative;
    display: inline-block;
    z-index: 201;
    height: 23px;
    transition: top .3s, right .3s;
    margin-left: 20px;
    cursor: pointer;
}
.active_nav.btn_nav > span {
    overflow: hidden;
    width: 0;
}
.active_nav .nav_icon i {
    background-color: #FFE900;
}
.active_nav.btn_nav {
    top: 50px;
    right: 50px;
}
.nav_icon i {
    position: absolute;
    left: 100px;
    z-index: 2;
    display: block;
    width: 32px;
    transition: bottom .3s, top .3s, transform .3s, left .9s;
    height: 4px;
    background-color: #000;
}
.btn_nav.hid_mn i {
    left: 0;
}
.nav_icon i:nth-child(3) {
    bottom: 0;
}
.nav_icon i:nth-child(2) {
    top: 10px;
    height: 3px;
    transition: .3s;
}
.nav_icon i:nth-child(2)::before {
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 3px;
    height: 0;
    content: "";
    transition: .3s;
    background-color: #000;
}
.nav_icon i:first-child {
    top: 0;
}
.nav_icon .bg_nav {
    position: absolute;
    width: 48px;
    height: 48px;
    left: -6px;
    top: -10px;
    z-index: 1;
    transition: all 0.6s;
}
.active_nav .nav_icon .bg_nav::before {
    content: "";
    position: absolute;
    display: block;
    width: 49px;
    z-index: 0;
    height: 49px;
    left: -2px;
    top: -2px;
    -ms-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 0 #fff;
    opacity: 1;
}
.nav_icon .menu-circle path {
    fill: none;
    stroke-width: 2px;
    stroke: #000;
    stroke-dashoffset: 185;
    stroke-dasharray: 185;
    transition: all 0.6s;
}

.active_nav .nav_icon .menu-circle path {
    stroke: #FFE900;
}
.active_nav .nav_icon i {
    background-color: #fff;
}
body .active_nav .nav_icon i:nth-child(3) {
    transform: rotate(-135deg);
    bottom: 9px;
}
body .active_nav .nav_icon i:first-child {
    transform: rotate(135deg);
    top: 10px;
}
body .active_nav .nav_icon i:nth-child(2) {
    width: 0;
    left: 15px;
}
