.main_page_video {
    position: absolute;
    height: calc(100% - 87px);
    width: calc(100% - 48px);
    overflow: hidden;
    margin: 0 24px 24px;
    z-index: 60;
}
.full_content {
    position: relative;
    z-index: 61;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 87px);
    width: calc(100% - 48px);
    margin: 63px 24px 24px;
}
.web, .go, .pro {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-position 1s;
}
.web {
    background: url("../../img/w_bak.svg") no-repeat;
    background-position-x: center;
    background-position-y: -1500px;
    background-size: cover;
}
.go {
    background: url(../../img/g_bak.svg) no-repeat;
    background-position-x: center;
    background-position-y: 1500px;
    background-size: cover;
}
.pro {
    background: url(../../img/p_bak.svg) no-repeat;
    background-position-x: center;
    background-position-y: -1500px;
    background-size: cover;
}
.text_about {
    color: #fff;
    font-size: 35px;
    margin-right: 10px;
    line-height: 50px;
    min-height: 100px;
    max-width: 80%;
    position: relative;
}
.about {
    transition: 1s;
    display: flex;
    padding: 50px;
    width: 33.33%;
    position: absolute;
    font: 400 18px/28px 'Roboto', sans-serif;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}
.text_about::before {
    font-family: "fontello";
    content: "\e808";
    position: absolute;
    top: 0;
    font-size: 25px;
    left: -28px;
}
.text_about i {
    display: inline-block;
    background-color: #fff;
    width: 5px;
    height: 26px;
    margin-left: 10px;
    animation: cursor 1s infinite ease;
}
.text_about b {
    color: #FFFF00;
}
.right_fix_section {
    position: fixed;
    margin: 70px 16px 24px 0;
    padding: 50px;
    height: calc(100% - 94px);
    width: calc(33.33% - 18px);
    top: -200%;
    opacity: 0;
    right: -800px;
    box-sizing: border-box;
    z-index: 50;
    background: url(../../img/lamp.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.right_fix_section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, .6);
}
.right_fix_section.active_section_r {
    right: 10px;
    top: 0;
    transition: opacity .6s 2.5s;
    opacity: 1;
}
@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.advantages_block {
    min-height: 70px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.advantages_block > * {
    display: block;
    color: #fff;
    position: relative;
    bottom: -200px;
    margin: 0 12px;
    width: 70px;
    opacity: 0;
    transform: scale(0.5, 2);
}
.advantages_block svg {
    fill: #fff;
}
.advantages_block a:first-child {
    transition: bottom .8s 0s, opacity .5s 0s, transform 1s .2s;
}
.advantages_block a:nth-child(2) {
    transition: bottom .8s .6s, opacity .5s .6s, transform 1s .8s;
}
.advantages_block a:last-child {
    transition: bottom .8s 1.2s, opacity .5s 1.2s, transform 1s 1.4s;
}
.advantages_block.active > * {
    bottom: 0;
    opacity: 1;
    transform: scale(1);
}